.banner{
background-image:url(pilates.jpg);
background-repeat: no-repeat;
position: relative;
width: 100%;
height: 100vh;
margin-left: auto;
margin-right: auto;
background-size: cover; 
background-position: center;








}